@page
@model FilmDBWebApp.Pages.Films.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Poster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Poster)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Film?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
