@page
@using FilmDBWebApp.Models
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	ViewData["Truc"] = "Bonjour";
}

@* <h1>@ViewData["Title"]</h1> *@

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<span>
	@* @Model.TitreTest *@

	@* @Model.tousLesFilms_CoteServeur // marche pas *@

	@* @foreach(var titre in Model.tousLesFilms_CoteServeur)
	{
		<div>
			@titre
		</div>
	} *@

</span>


@* <span>
	@ViewData["Truc"]
</span>
 *@
@* <div>
	<img src="https://upload.wikimedia.org/wikipedia/en/f/f7/28_Days_Poster.jpg"/>
	<h4>28 Days</h4>
	<span>2000</span>
	<div>
		<span>Sandra Bullock</span>
		<span>Viggo Mortensen</span>
	</div>
	<div>
		<span>Drama</span>
		<span>Comedy</span>
	</div>
	<div>
		28 Days is a 2000 American comedy-drama film directed by Betty Thomas and written by Susannah Grant. Sandra Bullock stars as Gwen Cummings, a newspaper columnist obliged to enter rehabilitation for alcoholism. The film costars Viggo Mortensen, Dominic West, Elizabeth Perkins, Azura Skye, Steve Buscemi, and Diane Ladd.
	</div>
</div> *@



<div class="album py-5 bg-light">
	<div class="container">
	  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


			@foreach (Film film in Model.tousLesFilms_CoteServeur)
			{
				<div class="col">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top film-poster" src="@film.Poster"/>
						<div class="card-body">
							<h3>@film.Title</h3>
							<span>
								<small class="text-muted">@film.Year</small>
							</span>
							<span class="card-text m-2">
								@film.TruncatedSummary								
							</span>
							<div>
								@* <div class="btn-group-sm m-2" role="group">
									@foreach(string genre in film.Genres)
									{
										<button type="button" class="btn btn-outline-secondary">
											@genre
										</button>
									}
								</div>
									<div class="list-group m-2">
									@foreach(Actor actor in film.Actors)
									{
										<a href="#" class="list-group-item list-group-item-action">
											@actor.FullName
										</a>
									}
								</div> *@
							</div>
						</div>
					</div>
				</div>
			}



	  </div>
	</div>
  </div>